*
{
  background-color : rgb(204, 31, 37);;
}
body {
  background-color: #e5e5fd;
  margin: 0px;
  border: 0px;
}

.container {
  border: 10px solid rgb(4, 4, 37);
  text-align: center;
}
.last-section{
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
  word-spacing : 1px;
  padding : 20px;
  text-align: left;
  font-size: 18px;
  border: 2px solid blue;
  margin: 20px;
}

.middle-section{
  padding: 10px;
}
.middle-section h2{
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 3px;
  text-align: center;
  font-weight: bold;
}
p{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
  word-spacing: 15%;
  letter-spacing: 0.60px;
  font-style: italic;
  font-size: 18px;
}

footer p{
  text-align:center;
}
